/* 
    Document   : styles
    Created on : 22-mar-2012, 23:23:19
    Author     : JuanCruz
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.DivTitle{ font-size: x-large; text-decoration: underline}

